<?xml version="1.0"?>
<launch>

  <!-- ===== ARGS (ajusta a gusto) ===== -->
  <arg name="dev"               default="/dev/input/js0"/>
  <arg name="lin_scale_fine"    default="0.10"/>   <!-- m/s modo fino -->
  <arg name="ang_scale_fine"    default="0.20"/>   <!-- rad/s modo fino -->
  <arg name="lin_scale_turbo"   default="0.60"/>   <!-- m/s modo turbo -->
  <arg name="ang_scale_turbo"   default="1.20"/>   <!-- rad/s modo turbo -->
  <arg name="enable_button"     default="4"/>      <!-- LB habilita -->
  <arg name="turbo_button"      default="5"/>      <!-- RB turbo -->
  <arg name="cmd_vel_out"       default="/sim_p3at/cmd_vel"/>

  <!-- ===== Driver del gamepad ===== -->
  <node pkg="joy" type="joy_node" name="joy" output="screen">
    <param name="dev" value="$(arg dev)"/>
    <param name="deadzone" value="0.05"/>
    <param name="autorepeat_rate" value="30"/> <!-- sube si BT se siente lento -->
  </node>

  <!-- ===== Joystick → Twist con perfil fino + turbo ===== -->
  <node pkg="teleop_twist_joy" type="teleop_node" name="teleop_twist_joy" output="screen">
    <!-- Mapea sticks (Xbox/Logitech-X): eje 1 = lin.x (vertical izq), eje 0 = ang.z (horiz izq) -->
    <param name="axis_linear.x" value="1"/>
    <param name="axis_angular.z" value="0"/>

    <!-- Escalas perfil fino -->
    <param name="scale_linear.x"  value="$(arg lin_scale_fine)"/>
    <param name="scale_angular.z" value="$(arg ang_scale_fine)"/>

    <!-- Escalas perfil turbo (se activan con turbo_button) -->
    <param name="scale_linear_turbo.x"  value="$(arg lin_scale_turbo)"/>
    <param name="scale_angular_turbo.z" value="$(arg ang_scale_turbo)"/>

    <!-- Botones -->
    <param name="enable_button" value="$(arg enable_button)"/>
    <param name="enable_turbo_button" value="$(arg turbo_button)"/>

    <!-- Publica a Pioneer SIM -->
    <remap from="cmd_vel" to="$(arg cmd_vel_out)"/>
  </node>

  <!-- ===== Simulación en Gazebo ===== -->
  <param name="/use_sim_time" value="true"/>

<!-- 1) Empty world en Gazebo -->
  <include file="$(find simulacion)/gazebo/empty_world.launch">
    <arg name="use_sim_time" value="true"/>
  </include>

  <!-- 2) Publicar robot_description -->
  <param name="robot_description"
         command="$(find xacro)/xacro --inorder
                  '$(find simulacion)/p3at_description/p3at_urdf/pioneer3at.urdf.xacro'" />

  <!-- 3) TF de joints -->
  <node pkg="robot_state_publisher" type="robot_state_publisher"
        name="robot_state_publisher" output="screen"/>

  <!-- 4) Joint State Publisher -->
  <node pkg="joint_state_publisher" type="joint_state_publisher"
        name="joint_state_publisher" output="screen"/>

  <!-- 5) Spawn model -->
  <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf"
        args="-param robot_description -urdf -model pioneer3at"
        output="screen"/>

  <!-- 6) RViz -->
  <node pkg="rviz" type="rviz" name="rviz"
        args="-d $(find simulacion)/rviz/P3AT.rviz"
        output="screen"/>
</launch>

